<%- include ('./partials/header.ejs') %>
<title>Nascimento's Cars</title>
<%- include ('./partials/navbar.ejs') %>
<body>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/corolla.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Toyota Corolla 2023</h5>
                  <p class="card-text">O Corolla é o Sedã Médio mais seguro da América Latina e já produzido pela Toyota do Brasil. Ele obteve nota máxima em segurança no Latin NCAP 2019⁶, sendo 5 estrelas para passageiros adultos e infantis, além da certificação especial Advanced Award – em que foi duplamente premiado pelo TSS⁴ (Toyota Safety Sense) junto com a plataforma global TNGA e a proteção de pedestres em caso de colisões.</p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 193.590,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/corolla-cross.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Toyota Corolla Cross 2023</h5>
                  <p class="card-text">O Corolla Cross vem equipado com o novo pacote de segurança Toyota Safety Sense⁴ em todas as suas versões. Alguns exemplos desses eficientes itens de segurança são o assistente de pré-colisão, o controle de velocidade cruzeiro adaptativo, o sistema de assistência de permanência de faixa e o farol alto automático proporcionando tranquilidade a todos a bordo. Além disso, o conjunto de 7 airbags, somado à carroceria com deformação progressiva e os alertas de tráfego cruzado na traseira e de pontos-cegos, protegem os ocupantes.</p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 210.990,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/civic.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Honda Civic 2023</h5>
                  <p class="card-text">O Novo Honda Civic Híbrido possui diversos modos de condução como o Elétrico, Híbrido, Combustão e Regeneração. Confira e se surpreenda! A Tecnologia Híbrida da Honda promove uma experiência muito mais elétrica e sustentável. Motorização com maior atuação do modo elétrico, entregando um sistema híbrido que alia baixo consumo de combustível com muita potência. Um novo design, moderno e refinado com linhas marcantes. O Novo Civic Híbrido traz sofisticação e modernidade em todos os seus detalhes.</p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 244.900,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/polo.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Volkswagen Polo 2023</h5>
                  <p class="card-text">Conheça todos os detalhes sobre o Volkswagen Polo. Tecnologia, segurança, conforto e performance que só um Volkswagen oferece. O Polo GTS combina tecnologia e esportividade com itens exclusivos da lendária sigla GTS. Além de ser equipado com farol full LED com tecnologia IQ. Light, design GTS e motor 250 TSI. Somado ao Seletor do Modo de Condução, a experiência de pilotagem a bordo do Polo GTS é única. O painel conta com revestimento em vinil, volante com sigla GTS, VW Play com modo de condução e detalhes em vermelho exclusivos para a versão.</p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 146.790,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/golf.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Volkswagen Golf 2023</h5>
                  <p class="card-text">Golf é um automóvel fabricado pela Volkswagen. Foi lançado no mercado europeu em 1974 e no mercado brasileiro em 1995. O Golf é, atualmente, o carro de maior sucesso e vendas na história da Volkswagen, superando até o mítico Volkswagen Fusca, carro que substituiu na Europa a partir da década de 1970. </p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 174.900,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/jetta.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Volkswagen Jetta 2023</h5>
                  <p class="card-text">O Volkswagen Jetta impressiona por seu design, tecnologia e potência. Deixe o Jetta mexer com os seus sentidos enquanto você dirige e de quem o vê passar. O Jetta GLI, destaca-se como o sedan médio mais esportivo da categoria com o motor 350 TSI. Mantendo a aparência esportiva sem perder a elegância, o Jetta GLI continua sendo o superesportivo da sua categoria com 231cv de potência. Fabricado em Puebla, México, o modelo evidencia-se com o design, trazendo mais tecnologia e performance. Projetado a partir da plataforma MQB, cumprindo os mais altos padrões de segurança do mercado.</p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 224.900,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/argo.png" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Fiat Argo 2023</h5>
                  <p class="card-text">Experimente uma condução prazerosa de verdade com o Motor 1.3 Firefly com 107 cv de potência. Ele é o sonho de todo motorista que busca desempenho aliado ao melhor consumo de combustível. Aproveite para comprar seu Fiat Argo 0km com valor reduzido do governo! Experimente uma condução prazerosa de verdade. Conheça o Fiat Argo.</p>
                  <p class="text-end" style="font-weight: 500;
                  font-size: 2.6rem;
                  line-height: 4rem;">R$ 92.990,00</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>