<%- include ('./partials/header.ejs') %>
<title>Nascimento's Cars</title>
<%- include ('./partials/navbar.ejs') %>
<style>
        .img-car{
            width: 80%;
        }
    </style>

</head>
<body>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="img/argo.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="img/polo.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
          <div class="carousel-item">
            <img src="img/corolla-cross.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
          <div class="carousel-item">
            <img src="img/civic.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
          <div class="carousel-item">
            <img src="img/corolla.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
          <div class="carousel-item">
            <img src="img/golf.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
          <div class="carousel-item">
            <img src="img/jetta.png" class="d-block img-car img-fluid mx-auto d-block">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<%- include ('./partials/footer.ejs') %>